/**-------------------------- CSS de general de la web---------------------**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    }

body {
    font-family:'Nunito','sans-serif';
    color:#171717
    line-height: 1.6;
    background-color:#feead4
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  background-color: #283e50;
  }

.logo img {
  max-width: 500px;   
  height: auto;
  display: block;
 }
 
.nav {
  background-color: #9ad0c3;
  width: 100vw;
  position: sticky;
  top: 0;
  z-index: 999;
  }

.nav ul {
  list-style: none;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.nav a {
  text-decoration: none;
  color: #171717;
  font-weight: 400;
  font-size: 2rem;
  }

  .hero-small h1 {
  font-size: 60px;
  margin-bottom: 10px;
}

  .footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #283e50;
  padding: 30px 20px;
  margin-top: 40px;
}

.footer-column {
  flex: 1 1 200px;
  padding: 10px;
}

.footer-column h4 {
  margin-bottom: 10px;
  font-size:x-large;
  font-weight:bold;
  color: #feead4
}

.footer-column ul {
  list-style: none;
  padding: 0;
  font-size: larger;
  }

.footer-column a,
.footer-column a:visited,
.footer-column a:active {
  color: #feead4 !important;
  text-decoration: none !important;
}

.footer-column a:hover{
  color:#ff997a !important;
  text-decoration: underline !important;
}

.footer-column p {
 font-size: larger;
 color: #feead4
}

/**-------------------------- CSS de Home---------------------**/

.hero {
  background-color: #ff997a;
  text-align: center;
  padding: 60px 20px;
}

.hero-content h1 {
  font-size: 60px;
  margin-bottom: 10px;
}

.hero-content h2 {
  font-size: 30px;
  color: #1c1b1b;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 30px;
  color: #1c1b1b;
  margin-bottom: 20px;
}

.hero-content button {
  padding: 24px 24px;
  background-color: #feead4;
  border-radius: 20px;
  margin-top: 20px;
  font-size: 20px;
  font-family: 'Nunito','sans-serif';
  font-weight:bold;
  border: none;          
  outline: none;  

}

.clubes {
  padding: 40px 20px;
  background-color: #feead4;
  text-align: center;
  font-size: 30px;
}

.clubes-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin: 0 auto;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .clubes-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card {
  background-color:#283e50;
  border-radius: 10px;
  border-color: #9ad0c3;
  border-width: 7px;
  border-style: solid;
   box-shadow:
    0 4px 8px rgba(154, 208, 195, 0.4),
    0 2px 4px rgba(255, 153, 122, 0.2); 
  transition: box-shadow 0.3s ease-in-out;
  padding: 20px;
  text-align: center;
 
  height: 600px; 
  display: flex;
  flex-direction: column;
    }
 
.card:hover {
  box-shadow:
    0 8px 16px rgba(154, 208, 195, 0.6),
    0 4px 8px rgba(255, 153, 122, 0.4);
}

.card h3 {
  font-size: 36px;
  margin-bottom: 10px;
  color: #feead4;
}

.card p {
  font-size: 24px;
  color: #ffffff;
}

.card img {
  height: 400px;
  object-fit: contain;
  border-radius: 8px;
  margin-bottom: 15px;
}

/**-------------------------- CSS de Sobre Macondo ---------------------**/

.info-grid {
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  padding: 40px 20px;
  background-color: #feead4;
  margin: 0 auto;
}

.info-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color:#283e50;
  border-radius: 10px;
  padding: 20px;
  border-radius: 10px;
  border-color: #9ad0c3;
  border-width: 7px;
  border-style: solid;
   box-shadow:
    0 4px 8px rgba(154, 208, 195, 0.4),
    0 2px 4px rgba(255, 153, 122, 0.2); 
  transition: box-shadow 0.3s ease-in-out;
}

.info-box h2 {
font-size: 30px;
color: #feead4;
text-align: center;
}

.info-box p {
  font-size: 24px;
  color: #ffffff;
}
.info-box img {
  display: block;
  margin: 15px auto;
  max-width: 500px;    
  max-height: 500px;
  width: 100%;         
  height: auto;
  object-fit: contain;
}

.faq {
  background-color:#feead4;
  padding: 40px 20px;
}

.faq details {
  margin-bottom: 10px;
  background:#feead4;
  padding: 10px 15px;
  
}
.faq h2 {
  font-size: 30px;
  }

.faq summary{
  font-weight:800;
  font-size:24px ;
  margin: 15px 20px
}
.faq p{ 
  font-size: 24px;
  font-weight:bold;
  margin: 20px 50px
  
}
.form-section {
  padding: 30px 20px;
  background-color:#feead4;
  text-align: center;
}

.form-section textarea {
 display: block;
  width: 100%;
  max-width: 700px;
  height: 200px;
  margin: 10px auto 0; 
  padding: 10px;
  font-size: 24px;
  border-radius: 6px;
  font-family: 'Nunito','sans-serif';
  border: 1px solid #feead4;
}
    
 .form-section h3 {
  font-size:36px;
 }

.form-section button {
  display: block; 
  max-width: 200px; 
  margin: 20px auto 0; 
  padding: 16px 24px; 
  font-size: 20px; 
  background-color: #3a4a5a;
  color: white;
  border: none;
  border-radius: 6px;
  font-family: 'Nunito','sans-serif';
  font-weight:bold;
  }

  /**-------------------------- CSS de Tipos de clubes ---------------------**/
.club-section {
  padding: 40px 20px;
  background-color: #ffffff;
}

.club-section h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.club-card {
  background-color: #f1f3f6;
  max-width: 600px;
  margin: 0 auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.club-card .descripcion {
  font-style: italic;
  margin-bottom: 15px;
}

.club-card ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 15px;
}

.club-card li {
  margin-bottom: 8px;
}

.club-card .detalle {
  margin-bottom: 15px;
  font-size: 15px;
}

.club-card button {
  padding: 10px 20px;
  background-color: #3a4a5a;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}

/**-------------------------- CSS de Galeria ---------------------**/
.intro {
  background-color:#feead4;
  padding: 30px 30px;
  text-align:center;
  font-size: 28px;
  max-width: 2000px;
  margin: 0 auto;
}

.video-section {
  text-align: center;
  font-size: 30px;
  background-color:#feead4;
  padding: 40px 20px;
}

.video-placeholder img {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
}

.club-gallery {
  padding: 40px 20px;
  background-color:#feead4;
}

.club-block {
  margin-bottom: 50px;
  text-align:center
}

.club-block blockquote {
  font-style: italic;
  font-size: 30px;
  background-color:#9ad0c3;
  padding: 10px 20px;
  border-left: 5px solid #3a4a5a;
  display: inline-block;
  margin-bottom: 15px;
}

.club-block h3 {
  margin-bottom: 24px;
}

.image-row {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

.image-row img {
  width: 150px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.soymacondo {
  background-color:#ff997a;
  padding: 40px 20px;
  text-align: center;
  font-size: 30px;
}

.cta {
  padding: 30px 20px;
  text-align: center;
  font-size: 24px;
  }

.cta-buttons {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.primary {
  padding: 16px 24px; 
  font-size: 20px; 
  background-color: #3a4a5a;
  color: white;
  border: none;
  border-radius: 6px;
  font-family: 'Nunito','sans-serif';
  font-weight:bold;
}

.secundary {
  padding: 16px 24px; 
  font-size: 20px; 
  background-color:#feead4;
  color: #3a4a5a;
  border: 6px;
  border-style: solid;
  border-color: #3a4a5a;
  border-radius: 6px;
  font-family: 'Nunito','sans-serif';
  font-weight:bold;
}
/**-------------------------- CSS de Contacto ---------------------**/
.formulario-contacto{
  max-width: 700px;
  margin: 0 auto;
  padding: 40px 20px;
  background-color:#feead4;
  font-size:24px;
}

.formulario-contacto p {
  text-align: center;
  margin-bottom: 30px;
  font-size: 24px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 10px;
  border: 1px solid #cccc;
  border-radius: 6px;
  font-size: 24px;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  }

button[type="submit"] {
  display: block; 
  max-width: 200px; 
  margin: 20px auto 0; 
  padding: 16px 24px; 
  font-size: 20px; 
  background-color: #3a4a5a;
  color: white;
  border: none;
  border-radius: 6px;
  font-family: 'Nunito','sans-serif';
  font-weight:bold;
}
